.fixed-button {
  position: fixed;
  right: 10px;
  bottom: 10px;
}

.show-dialog:hover {
  cursor: pointer;
}

.error-message {
  text-align: center;
  line-height: 90px;
  margin-bottom: -30px;
}

.error-message-box {
  background: #985353;
  border-radius: 5px;
  height: 34px;
  padding-top: 9px;
  margin-bottom: -8px;
  color: white;
  margin: 0px 29%;
  position: relative;
  top: 8px;
}

.footer-text {
  font-family: monospace;
}